.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #222;
  color: white;
  width: 100%;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}
